.memory-game .title{
    margin-top: 0;
    margin-bottom: 5px;
}
.memory-game .board{
    display: grid;
    grid-template-columns: repeat(3,7rem);
    grid-template-rows: repeat(3,7rem);
    max-width: 260px;
  }
.memory-game .card{
    background: #2B2B2B;
    width: 95px;
    height: 95px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memory-game .card:hover{
    background-color: #1e1e1e;
    box-shadow: 0 0 10px white;
}
.memory-game .img{
    max-width: 50px;
    max-height: 50px;
    transform: scale(0);
    transition: transform 0.5s;
    animation: 2s hideImage linear;
}
@keyframes hideImage{
    0%, 70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    } 
} 
.memory-game .img.active{
    transform: scale(1);
}
.memory-game .card.wrong{
    background-color: #781515;
}
.memory-game .img.wrong{
    transform: scale(1);
}
.memory-game .card.success{
    background-color: green;
}
.memory-game .img.success{
    transform: scale(1);
}