.start-game .main-title{
    letter-spacing: 3px;
    margin-top: -40px;
    margin-bottom: -10px;
    font-size: 40px;
}
.start-game .leader-board{
    letter-spacing: 2px;
    border: 3px solid;
    border-radius: 5px;
    min-height: 400px;
    min-width: 350px;
    margin: 20px;
    box-shadow: 0 0 10px;
}
.start-game ol{
    padding-left: 1px;
}
.start-game .with-line {
    list-style-position: inside;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    padding-left: 10px;
}
.start-game .no-line{
    list-style-position: inside;
    text-align: left;
    font-size: 18px;
    margin-bottom: -10px; 
    padding-left: 10px;
}
.start-game .line{
    border: 2px solid;
    margin-bottom: -10px;
}