.tic-tac-toe .title{
  margin-left: 11px;
}
.tic-tac-toe .board{
    display: grid;
    grid-template-columns: repeat(3,6.5rem);
    grid-template-rows: repeat(3,8rem);
    max-width: 260px;
  }
  .tic-tac-toe .box{
    border: 1px solid;
    border-radius: 5px;
    font-family: ROG Fonts;
    background: #2B2B2B;
    font-size: 4rem;
    width: 95px;
    height: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .tic-tac-toe .box:hover{
    background-color: #1B1B1B;
  }
  .tic-tac-toe .x-hover:hover::after{
    content: "x";
    opacity: 0.5;
  }
  .tic-tac-toe .o-hover:hover::after{
    content: "o";
    opacity: 0.5;
  }